.img__profile {
  border: 5px solid white;
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 /2;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-items: center;
  align-items: center;
}

.p__profile {
  grid-column: 1 / 2;
  grid-row: 2 /3;
  align-self: flex-start;
}

.button_dark-mode--grid {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
