/*Flexbox Struktur
  1st Flex-Container*/
.main__flex-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/*2nd Flex-Container*/
.quiz-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 800px;
  height: 12em;
  justify-content: space-evenly;
  align-items: center;
  /*border-radius: 0.3em;*/
  box-shadow: 1px 0 3px var(--grey);*/
  color: var(--grey);
  font-weight: 600;
  /*background-color: var(--color__card);*/
  border: 1px solid var(--grey);

}

.quiz-card:last-of-type {
  margin-bottom: 4.5em;
}

/*Antwort Karten*/
.quiz-card + .answer {
  background-color: var(--green);
  color: var(--beige);
  height: 6em;
}

/*Card Inhalt
    Bookmark für Quizfragen-Karten*/
.button__bookmark {
  background: none;
  position: absolute;
  right: 0.5em;
  top: -1em;
}

.button__bookmark-icon {
  width: 3em;
}

.quiz-card__title {
  position: absolute;
  top: 0.3em;
  left: 1.5em;
}

.p__question {
  padding: 0.5em 1em;
  text-align: center;
}

.p__answer {
  color: var(--green);
}

.button__answer {
  padding: 0.5em 1.2em;
  background-color: var(--beige);
  box-shadow: 1px 1px 1px var(--grey);
  border-radius: 1px;
  font-weight: 700;
}

.quiz-card__tag {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  font-size: 0.7em;
}

.quiz-card__tag span {
  border: 1px solid var(--grey);
  border-radius: 3px;
  background-color: lightgray;
  padding: 0.2em;
}
